---
import Layout from '../layouts/Layout.astro';
---
<Layout>
	<h1>begh.in</h1>
	<p>The personal website of Dan Beghin</p>
</Layout>

<style>
	main {
		background: linear-gradient(100deg, #CCD5AE, #E9EDC9, #FEFAE0, #FAEDCD, #D4A373);
		background-size: 1000% 100%;

		-webkit-animation: MainAnimation 120s ease-in-out infinite;
		-moz-animation: MainAnimation 120s ease-in-out infinite;
		animation: MainAnimation 120s ease-in-out infinite;
	}

	h1 {
		font-size: 108px;
	}

	@-webkit-keyframes MainAnimation {
		0% { background-position: 0% 0%; }
		50% { background-position: 100% 0%; }
		100% { background-position: 0% 0%; }
	}
	@-moz-keyframes Animation {
		0% { background-position: 0% 0%; }
		50% { background-position: 100% 0%; }
		100% { background-position: 0% 0%; }
	}
	@keyframes MainAnimation { 
		0% { background-position: 0% 0%; }
		50% { background-position: 100% 0%; }
		100% { background-position: 0% 0%; }
	}
</style>
