---
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content';
const posts = (await getCollection('posts')).sort(
	(a: any, b: any) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf(),
);
---
<Layout>
    <ul>
        { posts.map((post: any) => <li><a href={ `/${post.id}` }>{ post.data.title }</a></li>) }
    </ul>
</Layout>

<style>
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin-bottom: 1rem;
    }
</style>